.menu-content {
    width: 75%;
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.menu-content .item-box {
    width: clamp(200px, 30%, 500px);
    background: var(--main-bg-clr);
    border-bottom: 5px solid var(--main-text-clr);
    padding: 10px;
}

.menu-content .item-box li {
    list-style: none;
    width: 80%;
}

.menu-content .item-img {
    width: 100%;
    height: 150px;
    background: rgb(123, 44, 122);
}